@use '../variables' as *;

#pageHeader {
  background: linear-gradient(
    95deg,
    rgba($primary-color, 1) 0%,
    rgba($secondary-color, 1) 50%,
    rgba($third-color, 1) 100%
  );
  margin-bottom: $margin-from-header;
}

#cpal_logo {
  max-width: 200px;
  max-height: 100px;
  margin: $header-margin;
}

#dashboard_name {
    color: #ffffff !important;
    font-size: 24px;
    font-weight: bold;
    margin: $header-margin;
}

#mainContent,
#pageHeader {
  transition: margin-left 0.3s ease-in-out;
}

#mainContent.content-shifted,
#pageHeader.content-shifted {
  margin-left: 400px;
}
