{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'dashboard/scss/main.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div id="pageHeader" class="d-flex align-items-start .bg-primary.bg-gradient">
            <img src="{% static 'dashboard/images/CPAL_logo.png' %}" id="cpal_logo" class="img-fluid" alt="Logo">
            <h1 id="dashboard_name">{% block dashboard_name %}Dashboard{% endblock %}</h1>
        </div>

        <div id="mainContent">
            {% block content %}Content{% endblock %}
        </div>
    </div>

    <div id="intro-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% block modal_title %}  {% endblock %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>{% block modal_message %}...{% endblock %}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">I Understand</button>
          </div>
        </div>
      </div>
    </div>

    {% bootstrap_javascript %}
    <script src="{% static 'dashboard/javascript/base.js' %}"></script>

    {% block scripts %}
        <!-- This is for page-specific scripts -->
    {% endblock %}

    {% bootstrap_messages %}
</body>
</html>
