{% extends "base.html" %}

{% block title %} Prototype Dashboard {% endblock %}

{% block content %}
    Welcome to the <b>CPAL</b> Dashboard prototype, made with django 💗
{% endblock %}

{% block modal-message %}
    This is a <b>prototype</b> dashboard for the <b>CPAL</b> organization.
    It is designed to be a <b>simple</b>, yet <em>performant</em> dashboard that can be used to create
    many different types of dashboards with <b>minimal effort</b>.
    The dashboard is built with <b>Django and Bootstrap</b>, making it easy to customize and extend.
    <br><br>
    Please note that this is a <b>prototype</b> and <em>may not have all the features you need</em>. If you have any <b>suggestions or feedback</b>, please let me know!
{% endblock %}